#header{
    color:white;
    padding:30px 60px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

#header ul li{
    padding: 20px;
    list-style: none;
}

#header ul li a {
    text-decoration: none;
    color:white;
    padding: 5px 2px;
    font-weight: bold;
}

#header ul li a:hover{
    color: rgb(213, 1, 255);
}

#header ul{
    display:flex;
}

.active{
    font-weight: bold
}

@media screen and (max-width:767px){
    #header{
        display: flex;
        justify-content: space-around;
        padding:10px;
        padding-top:25px;
        font-size: 15px;
        align-items: center;
    }
    body{
        background-color: red;
        width:100%;
        overflow-x: hidden;
    }
    html{
        background-color: red;
        padding: 0px;
        margin:0px;
        width:100vw;
        overflow-x: hidden;
    }
}